In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('bikes.csv')
data.head()

,city,dteday,season,yr,mkt,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,stock,cnt,target
0,city_0,2011-01-01,1,0,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,997,929,1257.0
1,city_0,2011-01-02,1,0,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,1231,765,1096.0
2,city_0,2011-01-03,1,0,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1395,1395,1430.0
3,city_0,2011-01-04,1,0,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1651,1641,885.0
4,city_0,2011-01-05,1,0,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,2334,1671,1210.0

In [9]:
data.columns

Index(['city', 'dteday', 'season', 'yr', 'mkt', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'stock', 'cnt', 'target'],
      dtype='object')

In [13]:
data.groupby("city").cnt.mean()

city
city_0      4787.169631
city_1      4526.242134
city_10     4674.547196
city_100    4452.586867
city_101    4626.611491
               ...
city_95     4678.697674
city_96     4523.145007
city_97     4394.429549
city_98     4686.787962
city_99     4590.659371
Name: cnt, Length: 200, dtype: float64