In [6]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('bikes.csv')
data.head()

,city,dteday,season,yr,mkt,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,stock,cnt,target
0,city_0,2011-01-01,1,0,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,997,929,1257.0
1,city_0,2011-01-02,1,0,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,1231,765,1096.0
2,city_0,2011-01-03,1,0,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1395,1395,1430.0
3,city_0,2011-01-04,1,0,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1651,1641,885.0
4,city_0,2011-01-05,1,0,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,2334,1671,1210.0

In [12]:
data.columns

Index(['city', 'dteday', 'season', 'yr', 'mkt', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'stock', 'cnt', 'target'],
      dtype='object')

In [ ]:
Q1: Influência do clima na quantidade de bikes alugadas
Q2: Diferença na quantidade de bikes alugadas em diferentes dias da semana
Q3: Diferença da quantidade de bikes alugadas nos anos de 2011 e 2012

In [ ]:
Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds

In [26]:
cnt_weather3 = data[data['weathersit'] == 3][['cnt','dteday']]
cnt_weather3.sort_values(by=['cnt'], ascending = [True])

         cnt      dteday
28445      0  2012-10-29
112510     0  2012-10-29
69381      0  2012-10-29
68650      0  2012-10-29
10170      0  2012-10-29
...      ...         ...
132220  5744  2012-10-02
67892   5749  2012-10-02
84632   5793  2012-07-21
119793  5842  2012-10-02
96401   5934  2012-10-02

[4200 rows x 2 columns]

In [35]:
cnt_weather3.mean()

cnt    1973.595
dtype: float64

In [ ]:
Clear, Few clouds, Partly cloudy, Partly cloudy

In [38]:
cnt_weather1 = data[data['weathersit'] == 1][['cnt','dteday']]
cnt_weather1.sort_values(by=['cnt'], ascending = [True])

         cnt      dteday
32921     50  2011-01-27
58506     50  2011-01-27
107814    50  2011-12-24
107815    50  2011-12-25
21211     50  2011-01-13
...      ...         ...
29146   9783  2012-09-29
18167   9799  2012-09-15
54731   9848  2012-09-29
116852  9853  2012-09-15
53986   9867  2012-09-15

[92600 rows x 2 columns]

In [37]:
cnt_weather1.mean()

cnt    5009.506793
dtype: float64

In [69]:
data[data['weekday'] == 6][['weekday','cnt']].mean()

weekday       6.000000
cnt        4686.245048
dtype: float64

In [61]:
data[['weekday','cnt']].mean()

weekday       2.997264
cnt        4641.033352
dtype: float64

In [ ]:
4360 ~ 4690 -> variação da média nos dias da semana

In [ ]:
Quantidade de bikes alugadas nos anos de 2011 e 2012

In [83]:
data[data['yr'] == 0]['cnt'].sum()

262768114

In [80]:
data[data['yr'] == 1]['cnt'].sum()

415750962